/**
*
* @project Inspire
* @date 3.2015
* @author  Daniela Valero, Sapient GmbH
* @licensor  Publicis Sapient
* @site Inspire
*/

@import "config";

.InspireEditor {
  height: 100%;

  flex-flow: row wrap;
  @include flexbox();
  > * {
    /* We tell all items to be 100% width */
    flex: 1 100%;
  }
}

.Footer{
  align-self:flex-end;
}

.LeftToolbar,
.CenterArea {
  padding: em(10px);
}

.RightToolbar {
  flex-direction: column;
  border-left: 1px solid $negative-color;

  @include flexbox();
}

.LeftToolbar {
  background: gold;
}

.CenterArea {
  background: deepskyblue;
}

//medium screens - Consider leaving this for mobile
@include min-screen($medium-screen-min) {
  .RightToolbar-TopElement,
  .RightToolbar-BottomElement{
     flex: 1 auto;
  }
}

//big screens
@include min-screen($big-screen-min) {

  .LeftToolbar,
  .RightToolbar {
    flex: 1 auto;
  }

  .LeftToolbar {
    order: 1;
  }
  .CenterArea {
    order: 2;
    flex: 3 0;
  }
  .RightToolbar {
    order: 3;
  }
  .Footer {
    order: 4;
  }


  .RightToolbar,
  .LeftToolbar,
  .CenterArea {
    height: 100%;
  }
}
