---
title: Presentation Index
menuLink: Home
sortOrder: 01
---


<div class="TitleAligner">
    <div class="TitleAligner-TopLeft">
        <h1 class="u-sans u-bold">Available presentations</h1>
    </div>
</div>

<div class="ContentAligner">
  <nav>
        <ol class="">
        {{#each  slides.pages }}
         {{#unless data.presentation}}
            <li class="">
                <a href="/presentations/{{this.data.menuLink}}/{{this.pageName}}" class="">{{data.title }}</a>
            </li>
          {{/unless}}
        {{/each}}
        </ol>
    </nav>
</div>

