---
title: Master presentations index
menuLink: masters
---


<div class="TitleAligner">
    <div class="TitleAligner-TopLeft">
        <h1 class="u-sans u-bold">Available presentations</h1>
    </div>
</div>

<div class="ContentAligner">
  <nav>
        <ol class="">
        {{#each  slides.pages }}
          {{#is this.basename "master"}}
            <li class="">
                <a href="/presentations/{{this.data.menuLink}}/{{this.pageName}}" class="">{{data.title }}</a>
            </li>
            {{/is}}
        {{/each}}
        </ol>
    </nav>
</div>

