/*------------------------------------*\
   Titles
\*------------------------------------*/

.SlideMainTitle {
  font-size: 4em;
}

.SlideContentTitle {
  font-size: 3em;
}

.SlideSubtitle {
  color: $brand-white;
  text-shadow: 1px 1px 0 $mainColor, -2px 1px 0 $mainColor, 1px -1px 0 $mainColor, -1px 1px 0 $mainColor, 1px 1px 0 $mainColor;
  font-size: 6rem;
}

.SlideTitleUnderline {
  background: $brand-red;
  height: 8px;
  width: 100px;
}

.SlideContentSubtitle {
  margin-bottom: 0.4em;
  font-size: 2.8rem;
}

.slides>section>section {
  &.AlternativeBackground-transparent {
    background: transparent;
    .backgroundSvg {
      display: none;
    }
  }
}

.AlternativeBackground-transparent {
  background: transparent !important;
  .backgroundSvg {
    display: none;
  }
}

.AlternativeBackground-title {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.AlternativeBackground-subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: $doubleFontSize;
}

.AlternativeBackground-topicIndex {
  font-size: 17rem;
  z-index: -100;
  position: absolute;
  top: 150px; //295
  left: 100px;
  font-family: $mainFont;
}
/*------------------------------------*\
   Logo
\*------------------------------------*/

.slides-step_InsightBackgroundColor .logo {
  display: none;
}

.logo {
  position: absolute;
  bottom: 35px;
  width: 95%;

  &_img,
  &_mark {
    display: inline-block;
  }

  &_img {
    background: url($imagesPath + $logoImageName) no-repeat center center transparent;
    background-size: 160px 100%;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    float: left;
  }
  &_mark {
    background: url($imagesPath + $logoMarkImageName) no-repeat center center transparent;
    background-size: 30px 100%;
    height: 60px;
    width: 30px;
    float: right;
  }
}

.slides-step_SecondaryBackgroundColor {
  .logo_img {
    background-image: url($imagesPath + $logoSecondaryBackgroundColorImageName);
  }
  .logo_mark {
    background-image: url($imagesPath + $logoMarkSecondaryBackgroundColorImageName);
  }
}

.slides-step_Last {
  .logo_img {
    background-image: url($imagesPath + $logoMarkImageName);
    background-size: 20px 100%;
    height: 50px;
    width: 20px;

    &:after {
      position: absolute;
      content: $copyRightText;
      top: 45px;
      left: 33px;
    }
  }
  .logo_mark {
    background-image: none;
  }
}
