/*------------------------------------*\
   Titles
\*------------------------------------*/

.SlideMainTitle {
  @include rem-fallback(font-size, 64px);
}

.SlideContentTitle {
   @include rem-fallback(font-size, 48px);
}

.SlideSubtitle {
  color: $highlightColor1;
  @include rem-fallback(font-size, 84px);
}

.SlideTitleUnderline {
  background: $highlightColor2;
  height: 8px;
  width: 100px;
}

.SlideContentSubtitle {
  margin-bottom: 0.4em;
  @include rem-fallback(font-size, 52px);
}

.slides>section>section {
  &.AlternativeBackground-transparent {
    background: transparent;
  }
}

.AlternativeBackground-transparent {
  background: transparent !important;
}

.AlternativeBackground-title {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.AlternativeBackground-subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: $doubleFontSize;
}

.AlternativeBackground-topicIndex {
  @include rem-fallback(font-size, 142px);
  z-index: -100;
  position: absolute;
  top: 211px;
  left: 10px;
  font-family: $mainFont;
}
/*------------------------------------*\
   Logo
\*------------------------------------*/

.slides-step_InsightBackgroundColor .logo {
  display: none;
}

.logo {
  position: absolute;
  bottom: 35px;
  width: 95%;

  &_img,
  &_mark {
    display: inline-block;
  }

  &_img {
    @include sprites-tux;
    float: left;
  }
  &_mark {
    @include sprites-lab;
    float: right;
  }
}

.slides-step_SecondaryBackgroundColor {
  .logo_img {
    background-image: url($imagesPath + $logoSecondaryBackgroundColorImageName);
  }
  .logo_mark {
    background-image: url($imagesPath + $logoMarkSecondaryBackgroundColorImageName);
  }
}

.slides-step_Last {
  .logo_img {
    background-image: url($imagesPath + $logoMarkImageName);
    background-size: 20px 100%;
    height: 50px;
    width: 20px;

    &:after {
      position: absolute;
      content: $copyRightText;
      top: 45px;
      left: 33px;
    }
  }
  .logo_mark {
    background-image: none;
  }
}
