.reveal .slides {
  text-align: left;
}

.reveal .slides > section {
  padding: 20px;


  > section {
      height: 100%;
  }
}

.slides-step {
  @include box-sizing(border-box);

  height: 700px;
  &.slides-step-hideBackgroundSvg {
    .backgroundSvg {
      display: none;
    }
  }
  .backgroundSvg {
    @include transform(scale(3));

    position: absolute;
    top: $backgroundSvg-top-s;
    right: $backgroundSvg-right-s;
    z-index: -1;
    width: $backgroundSvg-width;

    fill: $backgroundSvgColor;
  }

  &_VerticalSlides {
    .ContentAligner {
      width: 95%;
    }
  }
}


@include min-screen(640px) {
  .slides-step {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    .backgroundSvg {
      @include transform(scale(1));

      top: $backgroundSvg-top-m;
      right: $backgroundSvg-right-m;
    }
  }
  .slides-step_SecondaryBackgroundColor {
    background-color: $brand-black;
  }
  .slides-step_TertiaryBackgroundColor {
    background-color: $brand-blue;
  }
  .slides-step_InsightBackgroundColor {
    background-color: $brand-red;
  }
}

.slides-step_GraphicSlide {
  .backgroundSvg {
    display: none;
  }
}

.slides-step_SecondaryBackgroundColor-title {
  color: $brand-white;
}

.slides-step_SecondaryBackgroundColor-subtitle {
  color: $brand-blue;
}

.slides-step_SecondaryBackgroundColor-topicIndex {
  color: $dark-gray;
}

.slides-step_TertiaryBackgroundColor {
  .backgroundSvg {
    fill: $brand-white;
  }
}

.slides-step_TertiaryBackgroundColor-title {
  color: $brand-black;
}

.slides-step_TertiaryBackgroundColor-subtitle {
  color: $brand-white;
}

.slides-step_TertiaryBackgroundColor-topicIndex {
  color: lighten($brand-blue, 30%);
}

.slides-step_InsightBackgroundColor {
  height: 100%;
  .backgroundSvg {
    display: none;
  }
}

.slides-step_InsightBackgroundColor {
  &-title, &-subtitle {
    color: $brand-white;
  }
}
