.reveal .slides {
  text-align: left;
}

.reveal .slides > section {
  padding: 20px;


  > section {
      height: 100%;
  }
}

.slides-step {
  @include box-sizing(border-box);
  height: 700px;

  &_VerticalSlides {
    .ContentAligner {
      width: 95%;
    }
  }
}


@include min-screen(640px) {
  .slides-step {
    background-color: $slideBackgroundColor;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  }
  .slides-step_SecondaryBackgroundColor {
    background-color: $secondarySlideBackgroundColor;
  }
  .slides-step_TertiaryBackgroundColor {
    background-color: $tertiarySlideBackgroundColor;
  }
  .slides-step_InsightBackgroundColor {
    background-color: $InsightBackgroundColor;
  }
}


.slides-step_SecondaryBackgroundColor-title,
.slides-step_SecondaryBackgroundColor-subtitle,
.slides-step_TertiaryBackgroundColor-title,
.slides-step_TertiaryBackgroundColor-subtitle {
    margin-left: 136px;
}


.slides-step_SecondaryBackgroundColor-title {
  color: darken($secondarySlideFontColor, 30%);
}

.slides-step_SecondaryBackgroundColor-subtitle {
  color: $secondarySlideFontColor;
}

.slides-step_SecondaryBackgroundColor-topicIndex {
  color: lighten($secondarySlideFontColor, 30%);
}

.slides-step_TertiaryBackgroundColor-title {
  color: darken($tertiarySlideFontColor, 30%);
}

.slides-step_TertiaryBackgroundColor-subtitle {
  color: $tertiarySlideFontColor;
}

.slides-step_TertiaryBackgroundColor-topicIndex {
  color: lighten($tertiarySlideFontColor, 30%);
}

.slides-step_InsightBackgroundColor {
  height: 100%;
}

.slides-step_InsightBackgroundColor {
  &-title, &-subtitle {
    color: $InsightFontColor;
  }
}

/* ==========================================================================
   Full Screen
   ========================================================================== */

body {
  @include fullscreen-inclusive {
    background: $slideBackgroundColor;
  }
}



@include fullscreen-exclusive {
  .slides-step {
    border: 0 !important;
    box-shadow: none !important;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
}



