/**
 * Find here all the utility classes
 *
 * Extract from: https://gist.github.com/fat/a47b882eb5f84293c4ed
 *
 *  Definition of utility clases:
 *
 * Medium's utility classes are low-level structural and positional traits.
 * Utilities can be applied directly to any element; multiple utilities can be
 * used together; and utilities can be used alongside component classes.
 *
 * Utilities exist because certain CSS properties and patterns are used frequently.
 * For example: floats, containing floats, vertical alignment, text truncation.
 * Relying on utilities can help to reduce repetition and provide consistent implementations.
 * They also act as a philosophical alternative to functional (i.e. non-polyfill) mixins.
 *
 */


/*------------------------------------*\
    General utility classes
\*------------------------------------*/

.u-hidden {
  display: none !important;
  visibility: hidden;
}

.u-bold{
  font-weight:bold !important;
}

.u-italic {
  font-style:italic !important;
}

.u-sans{
  font-family: $headingFont !important;
}

.u-serif{
  font-family: $mainFont !important;
}

.u-font-size-25{
  font-size:2.5rem !important;
}

.u-primary-font-color {
  color: $primaryColor !important;
}

.u-highlight1 {
    color: $highlightColor1 !important;
}
.u-clear-block, .u-clearfix {
    @extend %clearfix;
}
.u-float-right {
    float:right !important;
}
.u-float-left {
    float:left !important;
}

.u-center-text{
  text-align: center !important;
}
.u-ListPadding {
    padding-left: 6rem !important;
}

.u-ShortTitleAlign {
  padding: 2em 0 0 2em !important;
}

.u-padding-content {
  padding: 2em !important;
}
