<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>{{title}} | {{site.title}}</title>
<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{{ site.description }}"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="shortcut icon" href="/assets/img/Favicon.png"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

