/*------------------------------------*\
   PATHS
\*------------------------------------*/

$imagesPath: "../../assets/img/";
$fontsPath: "../../assets/fonts";

/*------------------------------------*\
   Fonts
\*------------------------------------*/

$fontFamily-sans:  "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;;
$fontFamily-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$fontFamily-mono: Consolas, "Liberation Mono", Courier, monospace;

$mainFont: $fontFamily-serif;
$mainFontSize:16px;
$doubleFontSize:24px;


/*------------------------------------*\
   Headings
\*------------------------------------*/

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: $fontFamily-sans;
$headingColor: $mainColor;
$headingLineHeight: 0.9em;
$headingTextTransform: uppercase;
$headingLetterSpacing: normal;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: none;

$heading1Size: 4rem;
$heading2Size: 3rem;
$heading3Size: 2.5rem;
$heading4Size: 2rem;

/*------------------------------------*\
   Link colours
\*------------------------------------*/

$controlsColor: $secondaryColor;
$controlsColorHover: lighten($secondaryColor, 20% );
$linkColor: $highlightColor1;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $highlightColor2;
$selectionColor: $white;

$tablet: 768px;
$desktop: 1024px;


/* ==========================================================================
   Texts and images
   ========================================================================== */

$logoImageName: 'logotype.png';
$logoMarkImageName: 'logomark.png';

$logoSecondaryBackgroundColorImageName: 'logotype_Negative.png';
$logoMarkSecondaryBackgroundColorImageName: 'logomark_Negative.png';

$copyRightText: '© 2015 Sapient Corporation';


// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background-color: $backgroundColor;
}

