$contentPadding: 20px;
h1 {
  @include rem-fallback(font-size, 20px);
}

a, p, span {
  @include rem-fallback(font-size, 16px);
}

a {
  color: $highlightColor1;
}

.content,
.header-wrapper {

    max-width: 1024px;
    margin: 0 auto;
    padding-left: $contentPadding;
    padding-right: $contentPadding;
}


header {
  background-color: $secondaryColor;
  padding: 10px 0;

  .title {
    color: $white;
  }

  .logo,
  .title {
    display: inline-block;
  }

  .logo {
   margin-right: 10px;
  }
}


@include min-screen($desktop) {
  .content,
  .header-wrapper {
    padding: 0;
  }
}
