//Roboto
//@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

/*------------------------------------*\
   Font faces
\*------------------------------------*/

@font-face {
    font-family: 'sapientsans';
    src: url($fonts-path +'/sapient-sans/spntsm-webfont.eot');
    src: url($fonts-path +'/sapient-sans/spntsm-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-path +'/sapient-sans/spntsm-webfont.woff2') format('woff2'), url($fonts-path +'/sapient-sans/spntsm-webfont.woff') format('woff'), url($fonts-path +'/sapient-sans/spntsm-webfont.ttf') format('truetype'), url($fonts-path +'/sapient-sans/spntsm-webfont.svg#sapientsansmediumregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'sapientsans';
    src: url($fonts-path +'/sapient-sans/spntsb-webfont.eot');
    src: url($fonts-path +'/sapient-sans/spntsb-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-path +'/sapient-sans/spntsb-webfont.woff2') format('woff2'), url($fonts-path +'/sapient-sans/spntsb-webfont.woff') format('woff'), url($fonts-path +'/sapient-sans/spntsb-webfont.ttf') format('truetype'), url($fonts-path +'/sapient-sans/spntsb-webfont.svg#sapientsansboldregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'sapientsans';
    src: url($fonts-path +'/sapient-sans/spntsr-webfont.eot');
    src: url($fonts-path +'/sapient-sans/spntsr-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-path +'/sapient-sans/spntsr-webfont.woff2') format('woff2'), url($fonts-path +'/sapient-sans/spntsr-webfont.woff') format('woff'), url($fonts-path +'/sapient-sans/spntsr-webfont.ttf') format('truetype'), url($fonts-path +'/sapient-sans/spntsr-webfont.svg#sapientsansregularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'sapientsans';
    src: url($fonts-path +'/sapient-sans/spntsmi-webfont.eot');
    src: url($fonts-path +'/sapient-sans/spntsmi-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-path +'/sapient-sans/spntsmi-webfont.woff2') format('woff2'), url($fonts-path +'/sapient-sans/spntsmi-webfont.woff') format('woff'), url($fonts-path +'/sapient-sans/spntsmi-webfont.ttf') format('truetype'), url($fonts-path +'/sapient-sans/spntsmi-webfont.svg#sapientsansmediumitalicRg') format('svg');
    font-weight: 500;
    font-style: italic;
}

/*------------------------------------*\
   centro slab sapient
\*------------------------------------*/

@font-face {
    font-family: 'sapientCentroSlab';
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-light-webfont.eot');
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-light-webfont.woff2') format('woff2'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-light-webfont.woff') format('woff'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-light-webfont.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'sapientCentroSlab';
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-reg-webfont.eot');
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-reg-webfont.woff2') format('woff2'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-reg-webfont.woff') format('woff'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-reg-webfont.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'sapientCentroSlab';
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-italic-webfont.eot');
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-italic-webfont.woff2') format('woff2'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-italic-webfont.woff') format('woff'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-italic-webfont.ttf') format('truetype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-italic-webfont.svg#sapient_centro_slabitalic') format('svg');
    font-weight: 400;
    font-style:italic;

}


@font-face {
    font-family: 'sapientCentroSlab';
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-medium-webfont.eot');
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-medium-webfont.woff2') format('woff2'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-medium-webfont.woff') format('woff'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-medium-webfont.ttf') format('truetype');
    font-weight: 600;
}



@font-face {
    font-family: 'sapientCentroSlab';
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-meditalic-webfont.eot');
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-meditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-meditalic-webfont.woff2') format('woff2'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-meditalic-webfont.woff') format('woff'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-meditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;

}


@font-face {
    font-family: 'sapientCentroSlab';
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-bold-webfont.eot');
    src: url($fonts-path +'/centro-slab-sapient/sapientcentroslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-bold-webfont.woff2') format('woff2'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-bold-webfont.woff') format('woff'),
         url($fonts-path +'/centro-slab-sapient/sapientcentroslab-bold-webfont.ttf') format('truetype');
    font-weight: 700;
}
