// =============================================================================
// Settings
// =============================================================================

/*------------------------------------*\
   PATHS
\*------------------------------------*/

$images-path: '/img/';
$fonts-path: '/fonts';

/*------------------------------------*\
   General settings
\*------------------------------------*/
$positive-color: $brand-black;
$light-positive-color: $dark-gray;

$negative-color: $brand-gray;
$light-negative-color:$brand-white;

$main-color:$positive-color;
$background-color: $light-negative-color;


/*------------------------------------*\
   Default fonts
\*------------------------------------*/
$main-font: $fontFamily-sapientSans;
$main-fontSize:$font-size;
$main-font-color:$dark-gray;
$main-line-height: 1;


$heading-main-font: $fontFamily-sapientSerif;
$heading-font-color: $positive-color;


/*------------------------------------*\
   Link colours
\*------------------------------------*/
$link-color: $brand-blue;
$link-colorHover: lighten( $link-color, 20% );
