// =============================================================================
// Variables
// =============================================================================



/*------------------------------------*\
   Colors
\*------------------------------------*/

$brand-black:  #212121;//#040707;
$brand-gray: #BDBDBD;// #DFE5E6;
$dark-gray: #757575; //#999;
$brand-white:#fff;

$brand-red: #DE2728;
$brand-blue: #21ADDD;

// Text selection
$selection-background-color: #00BCD4;
$selection-color: #fff;


/*------------------------------------*\
   Fonts
\*------------------------------------*/
$font-size: 16px;
/* scss-lint ignore:start */
$fontFamily-sapientSans: sapientsans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontFamily-sapientSerif: sapientCentroSlab, 'Roboto', Helvetica, Arial, sans-serif;
$fontFamily-sans: 'Roboto', Helvetica, Arial, sans-serif;
$fontFamily-mono: Monaco, monospace, sans-serif;
/* scss-lint ignore:end */
