@charset "UTF-8";
/*------------------------------------*\
   PATHS
\*------------------------------------*/
/*------------------------------------*\
   Colors
\*------------------------------------*/
/*------------------------------------*\
   General settings
\*------------------------------------*/
/*------------------------------------*\
   Fonts
\*------------------------------------*/
/*------------------------------------*\
   Headings
\*------------------------------------*/
/*------------------------------------*\
   Default fonts
\*------------------------------------*/
/*------------------------------------*\
   Link colours
\*------------------------------------*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)


    - placeholder-color $color
    - text-truncate
    - background-image $name, $size
    - absolute (top Npx right Npx left Npx bottom Npx)
    - fixed
    - relative
    - size $width, $height
------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/**
 * SVG mixin
 */
/******************************************
* Media queries
/******************************************/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/**
 * Define here the default styles for HTML tags
 */
/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
Base styles
Lists
Links
Tipografy
Lists
Images
Tables
*/
/*------------------------------------*\
    Base styles for HTML, BODY
\*------------------------------------*/
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  overflow-y: scroll; }

body {
  font-size: 75%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  line-height: 1; }

/*------------------------------------*\
    Links
\*------------------------------------*/
a {
  text-decoration: none;
  outline: none;
  font-weight: bold; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    text-decoration: underline;
    outline: 0; }

/*------------------------------------*\
    Typografy
\*------------------------------------*/
p {
  margin: 20px 0; }
  p:first-child {
    margin-top: 0; }

a, p, span {
  font-size: 1.5rem;
  line-height: 1.5; }
  @media screen and (max-width: 640px) {
    a, p, span {
      font-size: 2rem; } }

h1 {
  font-size: 4rem;
  line-height: 1.2; }

h2 {
  font-size: 3rem;
  line-height: 1; }

h3 {
  font-size: 2.5rem;
  line-height: 1; }

h4 {
  font-size: 2em;
  line-height: 1.25; }

h5 {
  font-size: 1em;
  font-weight: bold; }

h6 {
  font-size: 1em;
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

i, em, dfn {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }
  blockquote:first-child {
    margin-top: 0; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: Monaco, monospace, sans-serif;
  _font-family: Monaco, monospace, sans-serif;
  font-size: 1em; }

pre, .codeblock {
  background-color: #f5f5f5;
  border: solid 1px #ddd;
  padding: 1em;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*------------------------------------*\
   Lists
\*------------------------------------*/
ul, ol {
  padding: 0;
  display: inline-block; }

dl {
  margin: 1em 0; }
  dl:first-child {
    margin-top: 0; }
  dl:only-child {
    margin: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 1em 1em; }

/*ol {
        list-style-type: decimal;
}

ul {
        list-style-type: disc;
}

ul ul {
        list-style-type: square;
}

ul ul ul {
        list-style-type: circle;
}

ul ul,
ul ol,
ol ol,
ol ul {
        display: block;
        margin-left: 40px;
}*/
/*------------------------------------*\
   Images
\*------------------------------------*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

/*------------------------------------*\
    Tables
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td, th {
  padding: 6px;
  vertical-align: middle; }

th {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-bottom: #000 solid 2px; }
  th.field-label {
    background: #e5e5e5;
    border-bottom: none; }
    th.field-label label {
      padding-left: .5em; }

table.field-multiple-table {
  border: #e5e5e5 solid 1px; }

tr.even, tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #f2f2f2; }

tr.odd {
  background: #fff; }

tr.drag {
  background: #fe7; }

tr.drag-previous {
  background: #ffb; }

/*------------------------------------*\
   Font faces
\*------------------------------------*/
@font-face {
  font-family: 'sapientsans';
  src: url("../../assets/fonts/sapient-sans/spntsm-webfont.eot");
  src: url("../../assets/fonts/sapient-sans/spntsm-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/sapient-sans/spntsm-webfont.woff2") format('woff2'), url("../../assets/fonts/sapient-sans/spntsm-webfont.woff") format('woff'), url("../../assets/fonts/sapient-sans/spntsm-webfont.ttf") format('truetype'), url("../../assets/fonts/sapient-sans/spntsm-webfont.svg#sapientsansmediumregular") format('svg');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'sapientsans';
  src: url("../../assets/fonts/sapient-sans/spntsb-webfont.eot");
  src: url("../../assets/fonts/sapient-sans/spntsb-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/sapient-sans/spntsb-webfont.woff2") format('woff2'), url("../../assets/fonts/sapient-sans/spntsb-webfont.woff") format('woff'), url("../../assets/fonts/sapient-sans/spntsb-webfont.ttf") format('truetype'), url("../../assets/fonts/sapient-sans/spntsb-webfont.svg#sapientsansboldregular") format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'sapientsans';
  src: url("../../assets/fonts/sapient-sans/spntsr-webfont.eot");
  src: url("../../assets/fonts/sapient-sans/spntsr-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/sapient-sans/spntsr-webfont.woff2") format('woff2'), url("../../assets/fonts/sapient-sans/spntsr-webfont.woff") format('woff'), url("../../assets/fonts/sapient-sans/spntsr-webfont.ttf") format('truetype'), url("../../assets/fonts/sapient-sans/spntsr-webfont.svg#sapientsansregularregular") format('svg');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'sapientsans';
  src: url("../../assets/fonts/sapient-sans/spntsmi-webfont.eot");
  src: url("../../assets/fonts/sapient-sans/spntsmi-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/sapient-sans/spntsmi-webfont.woff2") format('woff2'), url("../../assets/fonts/sapient-sans/spntsmi-webfont.woff") format('woff'), url("../../assets/fonts/sapient-sans/spntsmi-webfont.ttf") format('truetype'), url("../../assets/fonts/sapient-sans/spntsmi-webfont.svg#sapientsansmediumitalicRg") format('svg');
  font-weight: 500;
  font-style: italic; }

/*------------------------------------*\
   centro slab sapient
\*------------------------------------*/
@font-face {
  font-family: 'sapientCentroSlab';
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-light-webfont.eot");
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-light-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-light-webfont.woff2") format('woff2'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-light-webfont.woff") format('woff'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-light-webfont.ttf") format('truetype');
  font-weight: 300; }

@font-face {
  font-family: 'sapientCentroSlab';
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-reg-webfont.eot");
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-reg-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-reg-webfont.woff2") format('woff2'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-reg-webfont.woff") format('woff'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-reg-webfont.ttf") format('truetype');
  font-weight: 400; }

@font-face {
  font-family: 'sapientCentroSlab';
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-italic-webfont.eot");
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-italic-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-italic-webfont.woff2") format('woff2'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-italic-webfont.woff") format('woff'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-italic-webfont.ttf") format('truetype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-italic-webfont.svg#sapient_centro_slabitalic") format('svg');
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'sapientCentroSlab';
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-medium-webfont.eot");
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-medium-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-medium-webfont.woff2") format('woff2'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-medium-webfont.woff") format('woff'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-medium-webfont.ttf") format('truetype');
  font-weight: 600; }

@font-face {
  font-family: 'sapientCentroSlab';
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-meditalic-webfont.eot");
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-meditalic-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-meditalic-webfont.woff2") format('woff2'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-meditalic-webfont.woff") format('woff'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-meditalic-webfont.ttf") format('truetype');
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'sapientCentroSlab';
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-bold-webfont.eot");
  src: url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-bold-webfont.woff2") format('woff2'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-bold-webfont.woff") format('woff'), url("../../assets/fonts/centro-slab-sapient/sapientcentroslab-bold-webfont.ttf") format('truetype');
  font-weight: 700; }

/**
 * Define here the default styles for HTML tags
 *
 * Source: http://smacss.com/book/type-layout
 *
 * Definition:
 *
 * Layout styles are the ones to position mayor elements on the screen.
 * Rules:
 * * Use ID for elements which are only once in the screen
 * * For the rest, preceed them with an: .l-
 *
 */
.ContentContainer {
  padding: 2em; }

/*doc
---
title: Title Aligner
name: TitleAligner
category: layuout
---
*/
.TitleAligner {
  display: flex;
  @at-root {
    -CenterCenter {
      align-items: center;
      height: 90%; }

    -TopLeft {
      align-items: flex-start; }

    -CenterLeft {
      align-items: center;
      height: 90%; }

    -CenterRight {
      align-items: center;
      height: 90%; } }
 }

/*doc
---
title: Content Aligner
name: ContentAligner
category: layuout
---
*/
.ContentAligner {
  display: flex;
  height: 90%;
  @at-root {
    -CenterLeft {
      order: 1;
      width: 50%;
      align-self: center; }

    -CenterRight {
      order: 2;
      align-self: center;
      width: 50%; }

    -Vertical {
      flex-direction: column;
      justify-content: space-around; }

    -LeftTop {
      order: 1; }

    -LeftBottom {
      order: 2; } }
 }

/*------------------------------------*\
   Titles
\*------------------------------------*/
.SlideMainTitle {
  font-size: 4em; }

.SlideContentTitle {
  font-size: 3em; }

.SlideSubtitle {
  color: #fff;
  text-shadow: 1px 1px 0 #040707, -2px 1px 0 #040707, 1px -1px 0 #040707, -1px 1px 0 #040707, 1px 1px 0 #040707;
  font-size: 6rem; }

.SlideTitleUnderline {
  background: #DE2728;
  height: 8px;
  width: 100px; }

.SlideContentSubtitle {
  margin-bottom: 0.4em;
  font-size: 2.8rem; }

.slides > section > section.AlternativeBackground {
  @at-root -transparent {
    background: transparent; }
 }
  .slides > section > section.AlternativeBackground .everform {
    display: none; }

.AlternativeBackground {
  @at-root -transparent {
    background: transparent !important;
    .everform {
      display: none; } }

  @at-root -title {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0; }

  @at-root -subtitle {
    font-style: italic;
    font-weight: 300;
    font-size: 24px; }

  @at-root -topicIndex {
    font-size: 17rem;
    z-index: -100;
    position: absolute;
    top: 295px;
    left: 100px;
    font-family: sapientCentroSlab, "Helvetica Neue", Helvetica, Arial, sans-serif; }
 }

/*------------------------------------*\
   Logo
\*------------------------------------*/
.slides-step_InsightBackgroundColor .sn-Logo {
  display: none; }

.sn-Logo {
  position: absolute;
  bottom: 35px;
  width: 95%; }
  .sn-Logo_img, .sn-Logo_mark {
    display: inline-block; }
  .sn-Logo_img {
    background: url("../../assets/img/SN_Logotype.png") no-repeat center center transparent;
    background-size: 160px 100%;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    float: left; }
  .sn-Logo_mark {
    background: url("../../assets/img/SN_Logomark.png") no-repeat center center transparent;
    background-size: 30px 100%;
    height: 60px;
    width: 30px;
    float: right; }

.slides-step_SecondaryBackgroundColor .sn-Logo_img {
  background-image: url("../../assets/img/SN_Logotype_Negative.png"); }
.slides-step_SecondaryBackgroundColor .sn-Logo_mark {
  background-image: url("../../assets/img/SN_Logomark_Negative.png"); }

.slides-step_Last .sn-Logo_img {
  background-image: url("../../assets/img/SN_Logomark.png");
  background-size: 20px 100%;
  height: 50px;
  width: 20px; }
  .slides-step_Last .sn-Logo_img:after {
    position: absolute;
    content: "© 2013 Sapient Corporation | Confidential";
    top: 45px;
    left: 33px; }
.slides-step_Last .sn-Logo_mark {
  background-image: none; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #999; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #999; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #999; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #999; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #cccccc; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #cccccc; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #cccccc; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #cccccc; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #21ADDD;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 1s ease-in-out;
  -khtml-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 1s ease-in-out;
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 1s ease-in-out;
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 1s ease-in-out;
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 1s ease-in-out;
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 1s ease-in-out; }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #21ADDD; }

.slides {
  text-align: left;
  @at-root {
    -step {
      background-color: white;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      height: 700px;
      margin: 20px auto;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      @at-root _GraphicSlide {
        .everform {
          display: none; } }

      @at-root _SecondaryBackgroundColor {
        background-color: #040707;
        @at-root -title {
          color: #fff; }

        @at-root -subtitle {
          color: #21ADDD; }

        @at-root -topicIndex {
          color: #999; }
 }

      @at-root _TertiaryBackgroundColor {
        background-color: #21ADDD;
        @at-root -title {
          color: #040707; }

        @at-root -subtitle {
          color: #fff; }

        @at-root -topicIndex {
          color: #a5def2; }

        .everform {
          fill: #fff; } }

      @at-root _InsightBackgroundColor {
        background-color: #DE2728;
        height: 100%;
        @at-root {
          -title, -subtitle {
            color: #fff; } }

        .everform {
          display: none; } }
 }
      -step .everform {
        position: absolute;
        top: 0px;
        right: 0;
        fill: rgba(220, 221, 222, 0.85);
        z-index: -1; }
      -step.slides-step-hideEverform .everform {
        display: none; }
      @media screen and (max-width: 640px) {
        -step {
          background: transparent;
          box-shadow: none; }
          -step .everform {
            -webkit-transform: scale(3);
            -khtml-transform: scale(3);
            -moz-transform: scale(3);
            -ms-transform: scale(3);
            -o-transform: scale(3);
            transform: scale(3);
            right: -500px !important;
            width: 424px; } } }
 }

/**
 * Theme styles:
 * All the styles which give the Sapient Style
 *
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #DFE5E6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sapientCentroSlab, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999; }
  @media screen and (max-width: 640px) {
    body {
      background: #fff;
      font-size: 24px; } }

.reveal {
  font-family: sapientCentroSlab, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #999;
  overflow: hidden; }

::selection {
  color: #fff;
  background: #FF5E99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #040707;
  font-family: sapientsans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 0.9em;
  text-transform: uppercase; }

/*********************************************
 * TEXTS
 *********************************************/
p, span {
  color: #999; }

/*********************************************
 * LINKS
 *********************************************/
a:not(.image) {
  color: #21ADDD;
  -webkit-transition: color .15s ease 1s ease-in-out;
  -khtml-transition: color .15s ease 1s ease-in-out;
  -moz-transition: color .15s ease 1s ease-in-out;
  -ms-transition: color .15s ease 1s ease-in-out;
  -o-transition: color .15s ease 1s ease-in-out;
  transition: color .15s ease 1s ease-in-out; }
  a:not(.image):hover {
    color: #79ceeb; }

.roll span:after {
  color: #fff;
  background: #17799a; }

/*********************************************
 * IMAGES
 *********************************************/
section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #040707;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear 1s ease-in-out;
  -khtml-transition: all .2s linear 1s ease-in-out;
  -moz-transition: all .2s linear 1s ease-in-out;
  -ms-transition: all .2s linear 1s ease-in-out;
  -o-transition: all .2s linear 1s ease-in-out;
  transition: all .2s linear 1s ease-in-out; }

a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #21ADDD;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*------------------------------------*\
  Full screen
\*------------------------------------*/
.FullScreenToggleIcon {
  display: none; }

.FullScreenToggleIcon {
  background: url(../../assets/img/icon/zoom_in_active.png) transparent 0 0 no-repeat;
  background: none, url(../../assets/img/icon/zoom_in_active.svg) transparent 0 0 no-repeat;
  pointer-events: auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block; }

body:-webkit-full-screen {
  background: #fff !important; }
body:-moz-full-screen {
  background: #fff !important; }
body:-ms-fullscreen {
  background: #fff !important; }
body:fullscreen {
  background: #fff !important; }

.OuterLogo {
  display: none; }

:-webkit-full-screen .slides-step {
  box-shadow: none !important;
  border: 0 !important;
  opacity: 0; }
  :-webkit-full-screen .slides-step.active {
    opacity: 1; }
  :-webkit-full-screen .slides-step .everform {
    -webkit-transform: scale(3);
    -khtml-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    right: -500px; }
:-webkit-full-screen .FullScreenToggleIcon {
  background: url(../../assets/img/icon/zoom_out_active.png) transparent 0 0 no-repeat;
  background: none, url(../../assets/img/icon/zoom_out_active.svg) transparent 0 0 no-repeat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }

:-moz-full-screen .slides-step {
  box-shadow: none !important;
  border: 0 !important;
  opacity: 0; }
  :-moz-full-screen .slides-step.active {
    opacity: 1; }
  :-moz-full-screen .slides-step .everform {
    -webkit-transform: scale(3);
    -khtml-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    right: -500px; }
:-moz-full-screen .FullScreenToggleIcon {
  background: url(../../assets/img/icon/zoom_out_active.png) transparent 0 0 no-repeat;
  background: none, url(../../assets/img/icon/zoom_out_active.svg) transparent 0 0 no-repeat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }

:-ms-fullscreen .slides-step {
  box-shadow: none !important;
  border: 0 !important;
  opacity: 0; }
  :-ms-fullscreen .slides-step.active {
    opacity: 1; }
  :-ms-fullscreen .slides-step .everform {
    -webkit-transform: scale(3);
    -khtml-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    right: -500px; }
:-ms-fullscreen .FullScreenToggleIcon {
  background: url(../../assets/img/icon/zoom_out_active.png) transparent 0 0 no-repeat;
  background: none, url(../../assets/img/icon/zoom_out_active.svg) transparent 0 0 no-repeat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }

:fullscreen .slides-step {
  box-shadow: none !important;
  border: 0 !important;
  opacity: 0; }
  :fullscreen .slides-step.active {
    opacity: 1; }
  :fullscreen .slides-step .everform {
    -webkit-transform: scale(3);
    -khtml-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    right: -500px; }
:fullscreen .FullScreenToggleIcon {
  background: url(../../assets/img/icon/zoom_out_active.png) transparent 0 0 no-repeat;
  background: none, url(../../assets/img/icon/zoom_out_active.svg) transparent 0 0 no-repeat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }

.d3 {
  position: absolute;
  top: 91px;
  left: 140px; }
  .d3 text {
    font: 24px sapientCentroSlab, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
    fill: #fff; }
  .d3 circle {
    fill: #21ADDD; }
  .d3 .node:hover circle {
    fill: #DE2728; }

@media print {
  .slides-step {
    page-break-after: always; }
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	* Don't show links for images, or javascript/internal links
	*/
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */