/**
 * Define here the default styles for HTML tags
 *
 * Source: http://smacss.com/book/type-layout
 *
 * Definition:
 *
 * Layout styles are the ones to position mayor elements on the screen.
 * Rules:
 * * Use ID for elements which are only once in the screen
 * * For the rest, preceed them with an: .l-
 *
 */

.TitleAligner {
    display: flex;
}

.TitleAligner-CenterCenter {
    align-items: center;
    height: 90%;
}

.TitleAligner-TopLeft {
    align-items: flex-start;
}

.TitleAligner-CenterLeft {
    align-items: center;
    height: 90%;
}

.TitleAligner-CenterRight {
    align-items: center;
    height: 90%;
}

/*
   Contentn Aligner: Align items on a slide
   ========================================================================== */


.ContentAligner {
    display: flex;
    height: 90%;
}

.ContentAligner-CenterCenter {
   align-items: center;
   justify-content: center;
}

.ContentAligner-CenterLeft {
    order: 1;
    width: 50%;
    align-self: center;
}

.ContentAligner-CenterRight {
    order: 2;
    align-self: center;
    width: 50%;
}

.ContentAligner-Vertical {
    flex-direction: column;
    justify-content: space-around;
}

.ContentAligner-LeftTop {
    order: 1;
}

.ContentAligner-LeftBottom {
    order: 2;
}

/*
  ContentContainer: container of content stuff, text,
   ========================================================================== */


.ContentContainer {
    padding: 2em;
}





