<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
{{> _metadata }}
{{> _styles-home }}
</head>
<body class="{{ bodyclass }}">
  <header>
    <div class="header-wrapper">
    <div class="title">{{title}}</div>
    </div>
  </header>
  <section class="content">
	{{> body }}
  </section>
  {{> _scripts}}
</body>
</html>
