/**
* Styles for the footer of the site
*
* @project Inspire
* @date 3.2015
* @author Daniela Valero, Sapient GmbH
* @licensor  Publicis Sapient
* @site Inspire
*/

@import "config";

.Footer {
  font-size: $font-size - 4;
  width: 100%;

  .NavbarFooter {
    height: 100%;

    li {
      display: inline-block;
      padding-right: em(15px);
    }
  }

  .Footer-Copyright {
    text-align: right;
  }
}
