/**
 *
 *  IN this file specific settings for a sapient theme are defined
 *
 */


$logoImageName: 'SN_Logotype.png';
$logoMarkImageName: 'SN_Logomark.png';

$logoSecondaryBackgroundColorImageName: 'SN_Logotype_Negative.png';
$logoMarkSecondaryBackgroundColorImageName: 'SN_Logotype_Negative.png';

$copyRightText: '© 2015 Sapient Corporation | Confidential';

$backgroundSvg-right-s: -200px;
$backgroundSvg-right-m: 0;

$backgroundSvg-width: 424px;

$backgroundSvg-top-s: -2px;
$backgroundSvg-top-m: 0;
