/**
 * SVG mixin
 */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin svg-bg($name, $extension: png, $color: transparent, $position: 0 0, $repeat: no-repeat) {
    background: url(#{$imagesPath}#{$name}.#{$extension}) $color $position $repeat;
    background: none, url(#{$imagesPath}#{$name}.svg) $color $position $repeat;
}
@mixin rem-fallback($property, $size: 16px) {
    $remSize: calculateRem($size);
    #{$property}:$size;
    #{$property}:$remSize;
}

@mixin fullscreen-inclusive {
    &:-webkit-full-screen {
        @content;
    }
    &:-moz-full-screen {
        @content;
    }
    &:-ms-fullscreen {
        @content;
    }
    &:fullscreen {
        @content;
    }
}

@mixin fullscreen-exclusive {
    :-webkit-full-screen {
        @content;
    }
    :-moz-full-screen {
        @content;
    }
    :-ms-fullscreen {
        @content;
    }
    :fullscreen {
        @content;
    }
}

/******************************************
* Media queries
/******************************************/

// ---------------------------------------------------------------------------------------------------------------------
//
//  Author: Rafal Bromirski
//  www: http://paranoida.com/
//  twitter: http://twitter.com/paranoida
//  dribbble: http://dribbble.com/paranoida
//
//  Licensed under a MIT License
//

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// --- hdpi ------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------

// Based on bourbon hidpi-media-queries file (https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hidpi-media-query.scss)
// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)

@mixin hdpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  only screen and (min-resolution: #{round($ratio*96)}dpi),
  only screen and (min-resolution: #{$ratio}dppx) {
    @content;
  }
}
